@{
    ViewBag.Title = "About";
}
<style type="text/css">
    .section { font-size: 1.2em; font-weight: bold; }
    ul { margin: 5px 0 10px 0; }
    li { margin: 0 0 5px 0; }
</style>

<h2>ZPM.Net Web Business Application Framework Demo</h2>

<p>
    Copyright &copy; 2018 Zpm Software Inc, ZpmSoftware.com
</p>
<p>
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
</p>
<p>
    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software source code,
    and an copyright acknowledgement viewable by end users of the software in the "Help &gt; About" or similiar page.
</p>
<p>
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
</p>

<div class="section">Tools and frameworks used with ZPM.Net:</div>
<ul>
    <li>Visual Studio 2017 Community Edition</li>
    <li>ASP.Net C# MVC 5.2.3</li>
    <li>.Net Framework 4.6.2 (earlier versions are probably fine)</li>
    <li>jQuery 3.3.1</li>
    <li>jQuery-ui 1.12.1</li>
    <li>Entity Framework 6</li>
    <li>SQL Server Express LocalDb (or SQL Server Express by changing Web.config)</li>
    <li>smartmenus - menu bar <a href='http://www.smartmenus.org'>http://www.smartmenus.org</a></li>
    <li>chosen.jQuery - a Select Box Enhancer <a href='http://getharvest.com'>http://getharvest.com</a></li>
    <li>ui.multiselect sortable, searchable multiple select widget <a href='http://www.quasipartikel.at/multiselect'>http://www.quasipartikel.at/multiselect</a></li>

</ul>