@{
    ViewBag.Title = "About";
}
<style type="text/css">

    .section {
        font-size: 1.2em;
        font-weight: bold;
    }

    ul {
        margin: 5px 0 10px 0;
    }

    li {
        margin: 0 0 5px 0;
    }
</style>
<div style="width:700px; margin: 0 100px;">
    <h2>ZPM.Net Web Business Application Framework Demo</h2>
    <p>
        Copyright &copy; 2018 Zpm Software Inc, ZpmSoftware.com
    </p>
    <div class="section">License</div>
    <p>
        The Code Project Open License (CPOL) governs Your use of ZPM.Net.
        This License is intended to allow developers to use the Source Code and Executable Files provided as part of the Work in any application in any form.<br />
        <br />
        The main points subject to the terms of the License are:
        <ul>
            <li>Source Code and Executable Files can be used in commercial applications;</li>
            <li>Source Code and Executable Files can be redistributed; and</li>
            <li>Source Code can be modified to create derivative works.</li>
            <li>No claim of suitability, guarantee, or any warranty whatsoever is provided. The software is provided "as-is".</li>
            <li>The Article(s) accompanying the Work may not be distributed or republished without the Author's consent</li>
        </ul>
        This License is entered between You, the individual or other entity reading or otherwise making use of ZPM.
        Net licensed pursuant to this License and the individual or other entity which offers ZPM.Net under the terms of this License ("Author").<br />
        <br />
        <b>For the full license agreement <a href="https://www.codeproject.com/info/cpol10.aspx">click here</a>.</b>
    </p>
    <br />
    <div class="section">Tools and frameworks used with ZPM.Net:</div>
    <ul>
        <li>Visual Studio 2017 Community Edition</li>
        <li>ASP.Net C# MVC 5.2.3</li>
        <li>.Net Framework 4.6.2 (earlier versions are probably fine)</li>
        <li>jQuery 3.3.1</li>
        <li>jQuery-ui 1.12.1</li>
        <li>Entity Framework 6</li>
        <li>SQL Server Express LocalDb (or SQL Server Express by changing Web.config)</li>
        <li>smartmenus - menu bar <a href='http://www.smartmenus.org'>http://www.smartmenus.org</a></li>
        <li>chosen.jQuery - a Select Box Enhancer <a href='http://getharvest.com'>http://getharvest.com</a></li>
        <li>ui.multiselect sortable, searchable multiple select widget <a href='http://www.quasipartikel.at/multiselect'>http://www.quasipartikel.at/multiselect</a></li>
    </ul>
    <br />
    <div class="section">About The Author</div>
    <p>
        Gary Hoff is a senior software engineer with 30+ years of experience in software development.
        He has extensive experience in trading, finance and manufacturing, with technical expertise in ASP.NET C#/VB,
        SQL Server, data modeling, business logic, user interface, customer and business needs analysis.
        He has led projects for many companies including the NFL, Kubota, and Toro.
    </p>
</div>